body {
    font-family: 'Roboto';   
}

h1 {
    text-align: center;
}

h2 {
    font-size: 30px;
}

#prix {
    font-weight: bold;
}

p {
    font-size: 28px;
}

ul {
    list-style-type: none;
}

img {
    width: 10%;
    
}

